* {
    font-family: "Blex Mono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
}

/* WINDOW (Bar itself)*/

window#waybar {
	background-color: transparent;
}

/* MODULES (Left, Center, Right)*/

.modules-center,
.modules-right {
  margin: 5px 5px 0px 5px;
  padding: 2px;
  background-color: #9ba6aa;
}

/* WORKSPACES (button)*/

#workspaces {
  margin: 5px 5px 0px 5px;
  padding: 2px;
  background-color: #9ba6aa;
}

button {
  background-color: transparent;
  color: #334147;
  font-weight: bold;
  font-size: 13px;
}

button:hover {
  background-color: #f8faf8;
  color: #334147;
  font-size: 17px;
}

button.visible {
  background-color: rgba(51, 65, 71, 0.35);
}

button.active {
  background-color: #334147;
  color: #9ba6aa;
}

button.empty {
  font-weight: normal;
}

/* MODULES (Individuals) */

#custom-sep {
  margin: 0;
  padding: 0;
  color: #334147;
  font-size: 13px;
}

#battery,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#custom-media,
#tray {
  margin: 0 2px;
  padding: 0 5px;
  background-color: transparent;
	color: #334147;
}

#battery:hover,
#backlight:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-media:hover,
#tray:hover {
	background-color: #f8faf8;
}

#clock {
  font-weight: bold;
	color: #334147;
  margin: 0 5px;
}

#group-stats {
  margin: 5px 5px 0px 5px;
  padding: 2px;
  background: rgba(255, 0, 0, 1);
}

#temperature,
#cpu,
#memory {
  margin: 0 2px;
  padding: 0 5px;
  background-color: transparent;
  color: #334147;
}

#battery.charging, #battery.plugged {
  font-weight: bold;
	color: #3887e9;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  font-weight: bold;  
  color: #ca3834;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #3c5155;
    color: #9ba6aa;
}

#pulseaudio:hover {
    background-color: #f8faf8;
}

#pulseaudio.muted {
    background-color: #334147;
    color: #9ba6aa;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature.critical {
    color: #ca3834;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

