* {
    font-family: "Blex Mono Nerd Font";
    font-size: 14px;
    min-height: 0;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
}

/* WINDOW (Bar itself)*/

window#waybar {
	background-color: #151515;
}

/* MODULES (Left, Center, Right)*/

.modules-center,
.modules-right {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}

/* WORKSPACES (button)*/

#workspaces {
  margin: 0px;
  padding: 0px;
  background: transparent;
}

button {
  background-color: #151515;
  color: #f2f2f2;
}

button:hover {
  color: #ffffff;
  background-color: #5c5c5c;
}

button.visible {
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  background: transparent;

}

button.active {
  background-color: #f2f2f2;
  color: #151515;
}

/* MODULES (Individuals) */

#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-media,
#tray {
  margin: 0px;
  padding: 0px 10px 0px 10px;
  background-color: transparent;
  color: #f2f2f2;
}

#battery:hover,
#backlight:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-media:hover,
#tray:hover {
	color: #151515;
	background-color: #f2f2f2;
}

#clock {
  color: #f2f2f2;
  margin: 0 0px;
}

#battery.charging, #battery.plugged {
	color: #07dcc7;
}

#battery.low:not(.charging){
 color: #d91e58;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
@keyframes blink-batt {
	0% { color: #d91e58; background: transparent;}
	50% { color: #f2f2f2; background: #d91e58;}
	100% { color: #d91e58; background: transparent;}
}
#battery.critical:not(.charging) {
  animation-name: blink-batt;
  animation-duration: 0.5s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio.muted,
#network.disconnected {
    color: #f75806;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #d91e58;
}

