* {
  border-radius: 0px;
  box-shadow: none;
  outline: none;
}

window {
    margin: 0px;
    border: 2px solid #101010;
    background: #151515;
    font-family: "Blex Mono Nerd Font";
}

#input {
    caret-color: #;
    margin: 4px;
    border: none;
    color: #f2f2f2;
    background: #101010;
    padding: 0px 5px 0px 5px;
}

#input:focus {
    border: 1px solid #f2f2f2;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

#inner-box {
    margin: 8px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 8px;
    border: none;
    background-color: #151515;
}

#scroll {
    margin: 0px;
    color: #f2f2f2;
}

#text {
    margin: 0px;
    padding: 2px 0px 2px 2px;
    color: #f2f2f2;
}

#text:selected {
    background-color: transparent;
    margin: 0px;
    color: #101010;
}

#entry:selected {
    background-color: #f2f2f2;
    margin: 0px;
}

expander > list > #entry:selected {
  background-color: transparent;
  border: 1px solid #f2f2f2;
  margin: 0px 5px;
}

expander > list {
  background: #101010;
}
