* {
	background-image: none;
	box-shadow: none;
  outline: none;
  border-radius: 0;
}

window {
	background-color: rgba(16, 16, 16, 0.75);
  font-size: 12px;
  font-weight: bold;
}

button {
	color: #f2f2f2;
	background-color: #101010;
	margin-left: 1500px;
}

button:focus, button:active, button:hover {
	color: #101010;
  background-color: #f2f2f2;

}

/*
#lock {
  font-weight: bold;
  color: #f2f2f2;

  background-image: image(url("/home/tomas/.config/wlogout/icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#sleep {
    background-image: image(url("/home/tomas/.config/wlogout/icons/sleep.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/tomas/.config/wlogout/icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/tomas/.config/wlogout/icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/tomas/.config/wlogout/icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/tomas/.config/wlogout/icons/power.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/tomas/.config/wlogout/icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
}
*/
